<nav class="navbar navbar-dark" style="background-color: rgba(0, 255, 255, 0.200);">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Weather forecast in Ukraine</a>
        {% if user.is_authenticated %}
        <p class="navbar-nav text-secondary fw-bold me-auto">///  Hello, {{request.user}}</p>
        <a class="nav-link text-secondary fw-bold"href="{% url 'logout' %}">/// Log out</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin page</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Sign in</a>
                </li>
            </ul>
        </div>
    </div>
</nav><p></p>