{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/home.css?" {% now "U" %}> -->

    <title>Registration</title>
    <link rel="shortcut icon" href="/static/icons/sun-256.ico" type="image/x-icon">
</head>

<body>
    {% include 'navbar.html' %}

    <div class="login">
    
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if user_created_message == True %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Account created successfully.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
        </div>
        {% endif %}

        {% if different_passwords_error == True %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Your passwords do not match.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
        </div>
        {% endif %}

        {% if no_input_data_error == True %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Fill in all the fields (email is not required).
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
        </div>
        {% endif %}

        {% if unique_username_error == True %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            This username is already taken. Get another one.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
        </div>
        {% endif %}
    
        <p></p>
        <h1 class="center">Welcome to the best weather forecast site!</h1>
        <br><br><br>
    
        <form class="center" method="post">
            {% csrf_token %}
            username: <br> <input type="text" name="Username"> <br>
            email: <br> <input type="email" name="Email"> <br>
            password: <br> <input type="password" name="Password"> <br>
            confirm password: <br> <input type="password" name="Password2"> <br>
            <p></p>
            <input class="btn btn-outline-info" type="submit" value="Submit">
        </form>
    </div>

    <p></p>
    <p class="center">Already have an account? <a class="text-decoration-none" href="{% url 'login' %}">Sign in</a>.</p>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>